.contactContainer {
    background: #ffffff;
    display:flex;
    height:100%;
}
.contactContainer .map {
    height:50%,;
    width:50%;
}

.contactContainer .addressContainer {
    flex: 3 0 auto;
}