.homeContainer {
    display:flex;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.servicesContainer {
    text-align: center;
}

.icon {
    width:90%
}


@media only screen and (max-width: 800px) {
    .homeContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-size: 15px;
        text-align: center;
    }

    .services {
        width:95%;
    }

    .icon {
        width:60%
    }
    
}