.App {
  text-align: center;
  min-width: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}


body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,.footer {
  padding: 1rem;
}

.header {
}

.main {
  background-color: #ececec;
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}